<template>
    <div class="container">
        <p class="text-center">{{ data.message }}</p>
        <table class="table" v-if="data.status = 'success'">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imię</th>
                <th scope="col">Zarobki</th>
                <th scope="col">Wiek</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="employee in data.data" :key="employee.id">
                <th scope="row">{{ employee.id }}</th>
                <td>{{ employee.employee_name }}</td>
                <td>{{ employee.employee_salary }}</td>
                <td>{{ employee.employee_age }}</td>
            </tr>
            </tbody>
        </table>
        <div class="container" v-if="data.status = 'success'">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h3>Średnie zarobki</h3>
                    {{ calcAvgSalary() }}
                    <h3>Suma zarobków</h3>
                    {{ calcSumSalary() }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h3>Średnia wieku</h3>
                    {{ calcAvgAge() }}
                    <h3>Suma wieku</h3>
                    {{ calcSumSalary() }}
                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: "Employees",
     mounted() {
        this.getData();
    },
    data () {
        return {
            data: {
                'message': '',
                'status': '',
                'data':''
            }
        }
    },
    methods:{
        getData(){
            axios.get('http://localhost:8000/api/getEmployees').then(
                response => (this.data = response.data)
            );
        },
        calcAvgSalary: function () {
            let total = 0;
            this.data.data.forEach(function (elem, index) {
                total += elem.employee_salary;
            });
            return parseFloat(total / this.data.data.length).toFixed(2);
        },
        calcAvgAge: function () {
            let total = 0;
            this.data.data.forEach(function (elem, index) {
                total += elem.employee_age;
            });
            return parseInt(total / this.data.data.length);
        },
        calcSumSalary: function () {
            let total = 0;
            this.data.data.forEach(function (elem, index) {
                total += elem.employee_salary;
            });
            return parseFloat(total).toFixed(2);
        },
        calcSumAge: function () {
            let total = 0;
            this.data.data.forEach(function (elem, index) {
                total += elem.employee_age;
            });
            return parseInt(total);
        }
    }

}
</script>

<style scoped>

</style>
