<template>
<div class="container">
    <p>Podstrona do pobrania danych ale zrobiona w stylu "wciśnij przycisk"</p>
    <button type="button" @click="fetchData">Pobierz</button>
    <p>{{ this.data.message }}</p>
</div>
</template>

<script>
export default {
    name: "Home",
    data () {
        return {
            data: {
                'message': '',
                'status': '',
                'data':''
            }
        }
    },
    methods:{
        fetchData(){
            axios.get('http://localhost:8000/api/fetchEmployees').then(
                response => (this.data = response.data)
            )
        }
    }
}
</script>

<style scoped>

</style>
